h1{
    color:#78B7C1;
    font-family: 'Big Shoulders Stencil Display', cursive;
}
body {
background-color:#0AF66E;
}
.cole{
    width: 300px;
}
.fun{
    text-align:center;
    background-color:#e5eb34;
}



   
